
<div>
    <form class="content" (submit) = "saveDisp()" >
        <div class="submit-form">
            <div class="row">
                <div class="col-lg-12">
                    <h6>Registro Disponibilidad</h6>
                </div>
            </div>

            <div class="row" style="margin-top: 3%">
                <div class="col-lg-6">
                    <label for="hinicio">Hora de Inicio</label>
                    <input type="time" class="form-control" name="hinicio" id="hinicio" [(ngModel)]="disponibilidad.horaInicio"/>
                </div>

                <div class="col-lg-6">
                    <label for="hfin">Hora Fin</label>
                    <input type="time" class="form-control" name="hfin" id="hfin"   [(ngModel)]="disponibilidad.horaFin"/>
                </div>
            </div>


            <div class="row">

                <div class="col-lg-6">
                    <label for="dia">Dia</label>
                    <input type="date" class="form-control" id="dia" name="dia" [(ngModel)]="disponibilidad.dia" />
                </div>
                
                <div class="col-lg-6">
                    <label for="ciclo">Ciclo</label>
                    <select id="ciclo" name="ciclo"
                        class="form-control"  [(ngModel)]="disponibilidad.ciclo!.idCiclo">
                        <!-- <select id="departamento" name="departamento"
                        class="form-control" (ngModelChange)='cargarProvincia()' [(ngModel)]="selectedDepartmento"> -->
                        <option  value="" selected>[Seleccione]</option>
                        <option *ngFor="let ciclo of lstCiclos" value="{{ciclo.idCiclo}}" >
                            {{ciclo.nombre}}
                        </option>
                </select>
                    
                </div>
            </div>

            <div class="row">

                
                <div class="col-lg-6">
                    <label for="usuario">Usuario</label>
                    <select id="usuario" name="usuario"
                        class="form-control"   [(ngModel)]="disponibilidad.usuario!.idUsuario">
                        <option  value="" selected>[Seleccione]</option>
                        <option   *ngFor="let usuario of lstUsuarios" value="{{usuario.idUsuario}}" >
                            {{usuario.nombreCompleto}}  
                        </option>
                </select>                   
                </div>
            </div>

            <div class="row" style="margin-top: 3%">
                <div class="col-lg-12">
                    <button class="btn btn-success">Enviar</button>
                </div>
            </div>
        </div>
    </form>

</div>

